BLOG_DB_URL=jdbc:postgresql://localhost:5432/blog_db
BLOG_DB_USERNAME=
BLOG_DB_PASSWORD=
BLOG_JWT_SECRET=
BLOG_REDIS_HOST=localhost
BLOG_REDIS_PORT=6379
BLOG_REDIS_PASSWORD=
BLOG_REDIS_DATABASE=0

BLOG_TEST_DB_URL=jdbc:postgresql://localhost:5432/blog_test
BLOG_TEST_DB_USERNAME=
BLOG_TEST_DB_PASSWORD=
BLOG_TEST_JWT_SECRET=
