BLOG_DB_URL=jdbc:postgresql://localhost:5432/blog_db
BLOG_DB_USERNAME=
BLOG_DB_PASSWORD=
BLOG_JWT_SECRET=

BLOG_TEST_DB_URL=jdbc:postgresql://localhost:5432/blog_test
BLOG_TEST_DB_USERNAME=
BLOG_TEST_DB_PASSWORD=
BLOG_TEST_JWT_SECRET=