<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ccsanjuu.blog.modules.article.mapper.ArticleLikeMapper">
    <select id="selectByActor"
            resultType="com.ccsanjuu.blog.modules.article.model.entity.ArticleLike">
        SELECT id, article_id, user_id, visitor_token_hash, created_at
        FROM blog_article_like
        WHERE article_id = #{articleId}
        <choose>
            <when test="userId != null">
                AND user_id = #{userId}
            </when>
            <otherwise>
                AND visitor_token_hash = #{visitorTokenHash}
            </otherwise>
        </choose>
        LIMIT 1
    </select>

    <insert id="insertIgnore"
            parameterType="com.ccsanjuu.blog.modules.article.model.entity.ArticleLike">
        INSERT INTO blog_article_like (article_id, user_id, visitor_token_hash)
        VALUES (#{articleId}, #{userId}, #{visitorTokenHash})
        ON CONFLICT DO NOTHING
    </insert>

    <delete id="deleteByActor">
        DELETE FROM blog_article_like
        WHERE article_id = #{articleId}
        <choose>
            <when test="userId != null">
                AND user_id = #{userId}
            </when>
            <otherwise>
                AND visitor_token_hash = #{visitorTokenHash}
            </otherwise>
        </choose>
    </delete>
</mapper>
