<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ccsanjuu.blog.modules.user.mapper.UserMapper">

    <select id="selectByIdForUpdate"
            resultType="com.ccsanjuu.blog.modules.user.model.entity.User">
        SELECT *
        FROM blog_user
        WHERE id = #{userId}
        FOR UPDATE
    </select>

</mapper>
